Repository render-engine/render-engine, pull requests merged in 2024-02, with the labels that each got.

#569 update to reference new wiki and revise
  README.md
Labels: documentation

#584 update theming docs
  docs/docs/theme_management.md
Labels: documentation

#586 update documentation and lint tests
  docs/docs/theme_management.md
  src/render_engine/site.py
  tests/test_site.py
Labels: documentation

#591 update docs for base-parser and markdown parser
  README.md
  docs/docs/parsers.md
Labels: documentation

#593 docs: convert to markdown and fix paths
  docs/docs/archive.md
  docs/docs/cli.md
  docs/docs/collection.md
  docs/docs/feeds.md
  docs/docs/hookspecs.md
  docs/docs/page.md
  docs/docs/parsers.md
  docs/docs/site.md
Labels: documentation

#595 fix admonitions and linking
  docs/docs/archive.md
  docs/docs/cli.md
  docs/docs/collection.md
  docs/docs/feeds.md
  docs/docs/index.md
  docs/docs/page.md
  docs/docs/parsers.md
  docs/docs/site.md
Labels: documentation

#596 fix the space
  docs/docs/archive.md
  docs/docs/cli.md
  docs/docs/feeds.md
  docs/docs/page.md
  docs/docs/parsers.md
Labels: documentation

#597 remove backslash
  docs/docs/page.md
Labels: documentation

#607 fix #606 serve regex
  src/render_engine/cli/cli.py
Labels: bug, cli

#592 add getter and setter for output path
  src/render_engine/site.py
Labels: enhancement, needs-review, needs-docs, needs-tests
