Repository render-engine/render-engine, pull requests merged in 2025-05, with the labels that each got.

#878 removes default value and changes sort to _title
  .pre-commit-config.yaml
  pyproject.toml
  src/render_engine/blog.py
  src/render_engine/collection.py
  tests/test_blog.py
Labels: python, root, source

#881 877 add custom error for when sorting is not possible to remind users of the sortby
  src/render_engine/collection.py
  tests/test_blog.py
  tests/test_collections.py
Labels: cli, python, source

#886 Fix issue with `title` in `new-entry`
  src/render_engine/cli/cli.py
Labels: bug, cli, python, source

#891 For `new-entry` make `filename` positional and add `slug` and `title` as kw args.
  src/render_engine/cli/cli.py
Labels: bug, cli, python, source

#892 Use config for default `module:site` and `collection`
  pyproject.toml
  requirements.txt
  src/render_engine/cli/cli.py
Labels: bug, cli, python, root, source

#894 [TEST]:Rename Scorecard to fix security check issue
  .github/workflows/scorecard.yml
Labels: github-actions

#896 Test scorecard workflow rename
  .github/workflows/scorecard.yml
Labels: github-actions

#900 add tests and docs for cli
  docs/docs/cli.md
  tests/tests_cli/test_cli.py
  tests/tests_cli/test_cli_commands.py
Labels: documentation, python

#903 update test versions
  .github/workflows/test.yml
  .gitignore
Labels: github-actions, root

#905 allow data to be collected like content
  src/render_engine/page.py
  tests/test_page.py
Labels: python, source

#906 issue-898 - Date validation for new-entry
  .gitignore
  docs/docs/cli.md
  src/render_engine/cli/cli.py
  tests/tests_cli/test_cli.py
  tests/tests_cli/test_cli_commands.py
Labels: bug, documentation, cli, python, root, source

#909 possibly fix #845
  .github/dependabot.yml
  .gitignore
Labels: github-actions, root
