Repository render-engine/render-engine, pull requests merged in 2025-06, with the labels that each got.

#919 Handle pre- and post-collection build plugins.
  .gitignore
  src/render_engine/collection.py
  src/render_engine/site.py
  tests/test_plugins.py
Labels: python, root, source

#924 Move `rich` to `dependencies` from `dev`
  pyproject.toml
Labels: bug, root

#926 BREAKING: remove partial collection
  docs/docs/site.md
  src/render_engine/site.py
Labels: documentation, python, source

#927 Fix issue with plugin settings not being properly passed into plugin hooks.
  README.md
  docs/docs/plugins.md
  src/render_engine/collection.py
  src/render_engine/plugins.py
  src/render_engine/site.py
  tests/test_plugins.py
Labels: bug, documentation, python, root, source

#940 use datetime timeznoe utc and adds support to 3.10
  .github/workflows/test.yml
  pyproject.toml
  tests/test_feeds/test_feeds.py
Labels: python, root

#931 837 implement pre commit
  CONTRIBUTING.md
  docs/docs/cli.md
  docs/docs/contributing/CONTRIBUTING.md
Labels: documentation, root

#948 Fix issues with `serve --reload`
  src/render_engine/cli/cli.py
  src/render_engine/cli/event.py
  src/render_engine/cli/utils.py
  tests/tests_cli/test_cli.py
  tests/tests_cli/test_render_engine_cli.py
Labels: bug, cli, python, source

#951 Add a link to the awesome list to the README.md
  README.md
Labels: documentation, root
